<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- metaTitle %>
    <%- meta %>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/styles.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="/css/font-awesome.min.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="/css/ReactCrop.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" media="none" onload="if(media!='all')media='all'" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgGYouaXhHOdcQh_xavWcixXZTVdAsDBw&libraries=places"></script>
    <!-- Google Tag Manager --><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TJMPCMW');</script><!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code --><script>  !function(f,b,e,v,n,t,s)  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?  n.callMethod.apply(n,arguments):n.queue.push(arguments)};  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';  n.queue=[];t=b.createElement(e);t.async=!0;  t.src=v;s=b.getElementsByTagName(e)[0];  s.parentNode.insertBefore(t,s)}(window, document,'script',  'https://connect.facebook.net/en_US/fbevents.js');  fbq('init', '1261089323989181');  fbq('track', 'PageView');</script><noscript><img height="1" width="1" style="display:none"  src="https://www.facebook.com/tr?id=1261089323989181&ev=PageView&noscript=1"/></noscript><!-- End Facebook Pixel Code -->
</head>
<body>
    <!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJMPCMW"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
    <div id="root"><%- reactOutput %></div>
    <script id="preloadedData" type="application/json">
        window.__RELAY_PAYLOADS__ = <%- JSON.stringify(preloadedData).replace(/\//g, '\\/') %>;
    </script>
    <script id="preloadedDataStage" type="application/json">
        window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedDataStage).replace(/\//g, '\\/') %>;
    </script>
    <script src="/bundle.js"></script>
</body>
</html>
